.App {
  text-align: center;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-contents: center;
  align-items: center;
  list-style-type: none;
}

.post-title {
  width: 80%;
  padding-bottom: 20px;
  cursor: pointer;
}
